.login-page {
  background-image: url('./images/clouds_background.avif');
  height: 100vh;
  padding-top: 200px
}

.registration-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  margin-inline: auto;
}

.login-button {
  margin-top: 10px
}